{% extends 'template.html' %}

{% block body %}

<div class="w3-container" style="padding: 70px 16px; background-color: darkgray; color: black;">
    <h1 class="w3-center" style="font-weight: bold;">{{item.title}}</h1>
    <div class="row">
        <div class="col-6 cont-r">
            <img class="img-c" src="https://image.tmdb.org/t/p/w500{{item.poster_path}}">
        </div> 
        <div class="col-6 cont-l right">
            <h3>Overview</h3>
            <p>{{item.overview}}</p>
            <h3>Tagline</h3>
            <p>{{item.tagline}}</p>
            <h3>Runtime</h3>
            <p>{{item.runtime}} min</p>
            <h3>Genres</h3>
            <p>{% for gen in item.genres %}
                <span>{{gen.name}}</span>
                {% endfor %}
            </p>
            <h3>Budget</h3>
            <p>$ {{item.budget}}</p>
            <h3>Revenue</h3>
            <p>$ {{item.revenue}}</p>
            <h3>Score</h3>
            <p>{{item.vote_average}} <i style="color: #e6e600;" class="fa fa-star"></i> </p>  
            <h3>Vote Count</h3>
            {% if db.get(item.id) is not defined %}
                <p><i style="color: #e62e00;" class="fa fa-heart"></i> <span>{{item.vote_count}}</span></p>
            {% else %}
                <p><i style="color: #e62e00;" class="fa fa-heart"></i> <span>{{db.get(item.id)|int}}</span></h3>
            {% endif %}          
            <h3>Release Date</h3>
            <p>{{item.release_date}}</p>
            <h3>IMDb</h3>
            <a href="https://www.imdb.com/title/{{item.imdb_id}}" target="_blank"><i style="color: gray;" class="fa fa-imdb"></i>  https://www.imdb.com/title/{{item.imdb_id}}</a>
        </div>      
    </div>
</div>
      


<style>

* {
  box-sizing: border-box;
}

.img-c{
    max-width: 60%;
}

.cont-r {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont-l {
    align-items: center;
    justify-content: center;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
</style>

{% endblock %}
