{% extends 'template.html' %}

{% block body %}

<!-- Team Section -->
<div class="w3-container" style="padding:70px 16px; background: darkgray; color: white;">
    <h1 class="w3-center" style="color: black; font-weight: bold;">{{title}}</h1>
    {% if list|length > 0 %}
    <p style="color: black;" class="w3-center w3-large">Click on the image to get the synopsis. Press the button <i class="fa fa-info-circle"></i> for more details. </p>
    
    <div class="w3-row-padding" style="margin-top:64px">
        {% for m in list %}
        <div class="w3-col l3 m6 w3-margin-bottom" style="display: table !important;">
            <div class="w3-card w3-black" style="display: table-cell !important;">
                {% if m.poster_path != None %}
                    {% if title == "All" %}
                        <img class="myImg" src="https://image.tmdb.org/t/p/w500{{m.poster_path}}" alt="{{m.overview}}" style="width:100%; height: 500px !important;" onclick="onClick(this)" > 
                    {% else %}
                        <img class="myImg" src="https://image.tmdb.org/t/p/w500{{m.poster_path}}" alt="{{m.overview}}" style="width:100%;" onclick="onClick(this)" >
                    {% endif %}
                {% else %}
                    {% if title == "All" %}
                        <img class="myImg" src="{{ url_for('static', filename='resources/default-movie.png')}}" alt="{{m.overview}}" style="width:100%; height: 500px !important;" onclick="onClick(this)" > 
                    {% else %}
                        <img class="myImg" src="https://image.tmdb.org/t/p/w500{{m.poster_path}}" alt="{{m.overview}}" style="width:100%;" onclick="onClick(this)" >
                    {% endif %}
                {% endif %}
                <div class="w3-container">
                <!--h3>{{m.title}}</h3-->
                <h3><i style="color: #e6e600;" class="fa fa-star"></i>  {{m.vote_average}} </h3>
                {% if db.get(m.id) is not defined %}
                    <h6><i style="color: #e62e00;" class="fa fa-heart"></i> <span id="{{m.id}}">{{m.vote_count}}</span></h5>
                {% else %}
                    <h6><i style="color: #e62e00;" class="fa fa-heart"></i> <span id="{{m.id}}">{{db.get(m.id)|int}}</span></h5>
                {% endif %}
                <p><a href="/details?id={{m.id}}"><button class="w3-button w3-light-grey w3-block btn-x1"><i  class="fa fa-info-circle"></i></button></a>
                    <button class="w3-button w3-light-grey w3-block btn-x" onclick="like(id={{m.id}})"><i  class="fa fa-arrow-up"></i> </button>
                    <button class="w3-button w3-light-grey w3-block btn-y"onclick="dislike(id={{m.id}})"><i class="fa fa-arrow-down"></i> </button>

                <!--
style="color:#0033cc"
style="color: #00e600;"
style="color: #ff9900;" 
                -->
                </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}

    <h3 class="w3-center" style="color: black;">There are no coincidences with the input.</h3>
    <p style="color: black;" class="w3-center w3-large">Try with a diferent word . </p>
    <h1 style="font-size: 200px;" class="w3-center"><i style="color: gray;" class="fa fa-ban"></i></h1>
    {% endif %}
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img style="width: 200px;" class="modal-content" id="img01">
    <div class="modal-c" id="caption"></div>
</div>

<script>
    function like(id){        
        var clicks = parseInt(document.getElementById(id).textContent);
        document.getElementById(id).innerHTML = clicks;
        clicks += 1;
        document.getElementById(id).innerHTML = clicks;   
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "/like?id="+id, false ); // false for synchronous request
        xmlHttp.send( null );
        return xmlHttp.responseText;  
    }
    

    function dislike(id){        
        var clicks = parseInt(document.getElementById(id).textContent);
        document.getElementById(id).innerHTML = clicks;
        clicks -= 1;
        document.getElementById(id).innerHTML = clicks;
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "/dislike?id="+id, false ); // false for synchronous request
        xmlHttp.send( null );
        return xmlHttp.responseText;      
    }

    function onClick(element){
        // Get the modal
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        var modal = document.getElementById("myModal");
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = element;
        modal.style.display = "block";
        modalImg.src = element.src;
        captionText.innerHTML = element.alt;


        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() { 
            modal.style.display = "none";
        }
    }
 
</script>
<style>
    .btn-x1{
        width: 32%;
        position: relative;
        display:inline-block;  
    }
    .btn-x{
        width: 32%;
        position: relative;
        display:inline-block;
    }
    .btn-y{
        width: 32%;
        position: relative;
        display:inline-block;
    }

    .btn-x:hover {
        color: #00e600 !important;
    }

    .btn-x:focus {
        color: #00e600 !important;
    }

    .btn-y:hover {
        color: #ff9900 !important;
    }

    .btn-y:focus {
        color: #ff9900 !important;
    }

    .btn-x1:hover {
        color: #0033cc !important;
    }

    .btn-x1:focus {
        color: #0033cc !important;
    }

    .myImg:hover {opacity: 0.7;}

    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 300px;
    }

    /* Caption of Modal Image */
    #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    }

    /* Add Animation */
    .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    }

    .close:hover,
    .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }

    @media only screen and (min-width: 701px){
    .myImg {
        height: 500px !important;
    }
    }
    }
</style>

{% endblock %}