{% extends 'template.html' %}

{% block body %}

<!-- Team Section -->
<div class="w3-container" style="padding:128px 16px">
    <h1 class="w3-center">Title</h1>
    <p class="w3-center w3-large">Click on the image to get the synopsis. Press the button <i class="fa fa-info-circle"></i> for more details. </p>
    <div class="w3-row-padding" style="margin-top:64px">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <img class="myImg" src="https://m.media-amazon.com/images/M/MV5BNGVjNWI4ZGUtNzE0MS00YTJmLWE0ZDctN2ZiYTk2YmI3NTYyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg" alt="Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum." style="width:100%" onclick="onClick(this)" > 
                <div class="w3-container">
                <h3>Title</h3>
                <p><button class="w3-button w3-light-grey w3-block btn-x"><i class="fa fa-info-circle"></i> </button>
                    <button class="w3-button w3-light-grey w3-block btn-x"><i class="fa fa-arrow-up"></i> </button>
                    <button class="w3-button w3-light-grey w3-block btn-x"><i class="fa fa-arrow-down"></i> </button>
                </p>
                </div>
            </div>
        </div>

        <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-card">
                    <img class="myImg" src="https://m.media-amazon.com/images/M/MV5BNGVjNWI4ZGUtNzE0MS00YTJmLWE0ZDctN2ZiYTk2YmI3NTYyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg" alt="Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum." style="width:100%" onclick="onClick(this)" >
                    <div class="w3-container">
                    <h3>Title</h3>
                    <p><button class="w3-button w3-light-grey w3-block btn-x"><i class="fa fa-info-circle"></i> </button>
                        <button class="w3-button w3-light-grey w3-block btn-x"><i class="fa fa-arrow-up"></i> </button>
                        <button class="w3-button w3-light-grey w3-block btn-x"><i class="fa fa-arrow-down"></i> </button>
                    </p>
                    </div>
                </div>
            </div>

        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <img class="myImg" src="https://m.media-amazon.com/images/M/MV5BNGVjNWI4ZGUtNzE0MS00YTJmLWE0ZDctN2ZiYTk2YmI3NTYyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg" alt="Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum." style="width:100%" onclick="onClick(this)" >
                <div class="w3-container">
                <h3>Title</h3>
                <p><button class="w3-button w3-light-grey w3-block btn-x"><i class="fa fa-info-circle"></i> </button>
                    <button class="w3-button w3-light-grey w3-block btn-x"><i class="fa fa-arrow-up"></i> </button>
                    <button class="w3-button w3-light-grey w3-block btn-x"><i class="fa fa-arrow-down"></i> </button>
                </p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img style="width: 300px;" class="modal-content" id="img01">
    <div class="modal-c" id="caption"></div>
</div>

<script>
    function onClick(element){
        // Get the modal
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        var modal = document.getElementById("myModal");
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = element;
        modal.style.display = "block";
        modalImg.src = element.src;
        captionText.innerHTML = element.alt;


        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() { 
            modal.style.display = "none";
        }
    }
 
</script>
<style>
    .btn-x{
        width: 32%;
        position: relative;
        display:inline-block;
    }
    .myImg:hover {opacity: 0.7;}

    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 300px;
    }

    /* Caption of Modal Image */
    #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    }

    /* Add Animation */
    .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    }

    .close:hover,
    .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
    }
</style>

{% endblock %}